rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isAuthorized() {
      return request.auth != null && (
        request.auth.token.email == "iury.decarvalho@gmail.com" || 
        request.auth.token.email == "giuliarayel@gmail.com"
      );
    }
    
    match /{document=**} {
      allow read, write: if isAuthorized();
    }
  }
}
